/* Icon System */
.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    vertical-align: middle;
}

.icon-sm {
    width: 0.875em;
    height: 0.875em;
}

.icon-lg {
    width: 1.5em;
    height: 1.5em;
}

.icon-xl {
    width: 2em;
    height: 2em;
}

.icon-2xl {
    width: 2.5em;
    height: 2.5em;
}

.icon-3xl {
    width: 3em;
    height: 3em;
}

/* Service Icons */
.service-icon {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    display: block;
    color: var(--primary-color);
}

.equipment-icon {
    font-size: 2.5rem;
    margin-bottom: 0.8rem;
    color: white;
}

/* Social Icons */
.social-link .icon {
    width: 1.2em;
    height: 1.2em;
}

/* Location Icons */
.location-icon {
    font-size: 1.5rem;
    color: var(--primary-color);
}

/* Search Icon */
.search-btn .icon {
    margin-right: 0.5rem;
}